@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark Mode Styles */
body.dark-mode {
  --background: #0a0a0a; /* Dark background */
  --foreground: #ededed; /* Light foreground for contrast */
  background: var(--background);
  color: var(--foreground);
}

/* Sidebar Styles */
body.dark-mode .offcanvas {
  background-color: #333; /* Dark sidebar */
  color: #fff; /* Light text */
}

/* Map Styles */
body.dark-mode .leaflet-container {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
/* Button style in dark mode with starry effect */
body.dark-mode .moon-button {
  background-color: #ffffff; /* Dark background */
  border: 1px solid #ffffff;
  position: relative;
  overflow: hidden;
}

/* Add stars using pseudo-elements */
body.dark-mode .moon-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(1px, #000000, transparent) 0 0,
    radial-gradient(1px, #000000, transparent) 10px 10px,
    radial-gradient(1px, #000000, transparent) 20px 20px,
    radial-gradient(1px, #000000, transparent) 30px 30px;
  opacity: 0.8;
  animation: twinkle 2s infinite; /* Twinkling effect */
  z-index: 0; /* Place behind button text */
}

/* Twinkling animation */
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.9;
  }
}

/* Styling for the moon icon */
.moon-icon {
  position: relative;
  z-index: 1; /* Place above stars */
    text-shadow: 0 0 10px #ffd900, 0 0 10px #ffe600; /* Moon glow */
}
